{% extends 'index.html' %}
{% block add %}
<h1>Add a vacancy</h1>
<form  class="" action="{% url 'getdata' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>profession<br>
    <select name="profession">
        <option value=""></option>
      {% for profession in professions %}
        <option value="{{ profession }}">{{ profession }}</option>
      {% endfor %}
    </select>
  </div><br>
  <div class="checkbox-container">level<br>
    {% for level in levels %}
      {{ level }}<input type="checkbox" name="{{ leve }}" value="{{ level }}">
    {% endfor %}
  </div><br>
  <div>type<br>
    {% for type in types %}
      {{ type }}<input type="checkbox" name="{{ type }}" value="{{ type }}">
    {% endfor %}
  </div><br>
  <div>title<br>
    <input type="text" placeholder="vacancy" name="vacancy">
  </div><br>
  <div>body<br>
    <textarea placeholder="body" name="body"></textarea>
  </div><br>
  <div>city<br>
    <input type="text" placeholder="city" name="city">
  </div><br>
  <div>salary<br>
    <input type="text" placeholder="salary" name="salary">
  </div><br>
  <div>experience<br>
    <input type="text" placeholder="2" name="experience">
  </div><br>
  <div>company<br>
    <input type="text" placeholder="company" name="company">
  </div><br>
  <div>english<br>
    {% for item in english %}
      {{ item }} <input type="radio" name="english" value="{{ item }}"><br>
    {% endfor %}
  </div><br>
  <div>contacts<br>
    <input type="text" placeholder="url" name="contacts"><br>
  </div><br>
  <br>
  <input type="submit" value="Add">
</form>

{% endblock %}