{% extends 'index.html' %}
{% block add %}
<h1>Add a vacancy</h1>
<form  class="" action="{% url 'getdata' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div>profession<br>
    <select name="profession">
      <option value=""></option>
      <option value="backend">backend</option>
      <option value="frontend">frontend</option>
      <option value="qa">qa</option>
      <option value="devops">devops</option>
      <option value="designer">designer</option>
      <option value="game">game</option>
      <option value="mobile">mobile</option>
      <option value="product">product</option>
      <option value="pm">pm</option>
      <option value="analyst">analyst</option>
      <option value="marketing">marketing</option>
      <option value="sales">sales_manager</option>
      <option value="hr">hr</option>
    </select>
  </div><br>
  <div>level<br>
    junior<input type="checkbox" name="junior" value="junior">
    middle<input type="checkbox" name="middle" value="middle">
    senior<input type="checkbox" name="senior" value="senior">
  </div><br>
  <div>type<br>
    office<input type="checkbox" name="office" value="office">
    remote<input type="checkbox" name="remote" value="remote">
    flexible<input type="checkbox" name="flexible" value="flexible">
    full time<input type="checkbox" name="fulltime" value="fulltime">
  </div><br>
  <div>title<br>
    <input type="text" placeholder="vacancy" name="vacancy">
  </div><br>
  <div>body<br>
    <textarea placeholder="body" name="body"></textarea>
  </div><br>
  <div>city<br>
    <input type="text" placeholder="city" name="city">
  </div><br>
  <div>salary<br>
    <input type="text" placeholder="salary" name="salary">
  </div><br>
  <div>experience<br>
    <input type="text" placeholder="2" name="experience">
  </div><br>
  <div>company<br>
    <input type="company" placeholder="company" name="company">
  </div><br>
  <div>english<br>
    None<input type="radio" name="english" value=""><br>
    A1<input type="radio" name="english" value="A1">
    A2<input type="radio" name="english" value="A2"><br>
    B1<input type="radio" name="english" value="B1">
    B2<input type="radio" name="english" value="B2"><br>
    C1<input type="radio" name="english" value="C1">
    C2<input type="radio" name="english" value="C2">
  </div><br>
  <div>contacts<br>
    <input type="text" placeholder="url" name="contacts"><br>
  </div><br>
  <br>
  <input type="submit" value="Add">
</form>

{% endblock %}