<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>VacancyAdder</title>
    <link rel="stylesheet" href="{% static 'css/beauty.css' %}">
</head>
<body>
    <header>
    <nav>
      <ul>
          {% if user.is_authenticated %}
          <li>
          <a href="{% url 'logout' %}">Log out</a>
          </li>
          {% endif %}
          <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
      </ul>
    </nav>
  </header>
    <div class="">
        {% if user.is_authenticated %}
            {% block add %}
            {% endblock %}
        {% else %}
            {% block login %}
            {% endblock %}
        {% endif %}
    </div>

</body>
</html>