body {
    max-width: 400px}

/ *  Styling for all the devices * /
form {
  max-width: 600px; / *  Limit the form width  * /
  margin: 0 auto; / *  Center the form  * /
  padding: 1em; / *  Add the indents  * /
}


input, select, textarea {
  width: 100%; / *  Stretch the input fields to the full width oef the form  * /
}

button {
  width: auto; / *  The button size does not stretch  * /
  margin-top: 1em; / *  Add some padding at the top  * /
}

/ *  Media quiery for mobile devices  * /
@media (max-width: 600px) {
  form {
    padding: 0.5em; / *  Reduce padding for small screens  * /
  }



  input, select, textarea {
    font-size: 0.8em; / *  Уменьшаем размер шрифта полей ввода  * /
  }

  button {
    font-size: 0.8em; / *  Уменьшаем размер шрифта кнопки  * /
  }
}
/ * checkboxes  horizontal align  * /
.checkbox-container {
  display: flex;
  align-items: center;
  background-color: red;
}

/ *  Дополнительный стиль для чекбоксов  * /
input[type="checkbox"] {
  margin-right: 10px; / *  Добавляем немного пространства между чекбоксами  * /
}
